@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

.filtro-con-switch * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.filtro-con-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0px 0px 15px 0px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-container button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0069d9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.options-container {
  display: flex;
  justify-content: space-evenly; /* Ajusta el espaciado entre los radio buttons */
  width: 100%; /* Ajusta el ancho del contenedor */
}

.filtro-con-switch .option {
  background: #333;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 2px;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.filtro-con-switch .option .dot {
  height: 20px;
  width: 20px;
  background: #555;
  border-radius: 50%;
  position: relative;
}

.filtro-con-switch .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #ddd;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.filtro-con-switch input[type="radio"] {
  display: none;
}

.filtro-con-switch input[type="radio"]:checked + label {
  border-color: #0069d9;
  background: #8115ac;
}

.filtro-con-switch input[type="radio"]:checked + label .dot {
  background: #000000;
}

.filtro-con-switch input[type="radio"]:checked + label .dot::before {
  opacity: 1;
  transform: scale(1);
}

.filtro-con-switch .option span {
  font-size: 90%;
  color: #838080;
}

.filtro-con-switch input[type="radio"]:checked + label span {
  color: #fff;
}

/* ---------------------------------*/
button.button-10 {
  touch-action: manipulation;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 60%;
}

button.button-10 {
  touch-action: manipulation;
  font-weight: 600;
  
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.8  em 2em;
  background: #8d37ff;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-10::before {
  position: absolute;
  color: #333;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #4d1e8b;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 ;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-10:hover {
  background: #b792e9;
  transform: translate(0, 0.25em);
}

button.button-10:hover::before {
  box-shadow: 0 0 0 2px #8000b3, 0 0.5em 0 0 ;
  transform: translate3d(0, 0.5em, -1em);
}

button.button-10:active {
  background: #a2ffa2;
  transform: translate(0em, 0.75em);
}

button.button-10:active::before {
  box-shadow: 0 0 0 2px #b185a6, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
